#container{
  margin-top: 25px;
}

*  {
  font-family: 'DM Sans', sans-serif;
}


h1{
  font-weight: bold;
  text-align: center;
}

ion-item{
  width: 95%;
  margin: 6px auto;
  border-radius: 10px;
  border: 1px solid #DCDCDC;
}

ion-button{
  margin: 0px auto;
  width: 95%;
  margin-top: 20px;
}
