<ion-app>
  <ion-menu menuId="main-menu" content-id="main">
    <ion-content>
      <div class="menu-header-bg"></div>
      <div class="profile-picture">
        <img src="../assets/icon/profile.png">
      </div>
      <ion-list class="menu-items">
        <ion-menu-toggle>
          <ion-item routerLink="/cad-imovel">
            <ion-icon name="bed-outline" slot="start"></ion-icon>
            Cadastro Imóvel
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item routerLink="/cad-cliente">
            <ion-icon name="cash-outline" slot="start"></ion-icon>
            Cadastro Cliente
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item routerLink="/cad-imobiliaria">
            <ion-icon name="megaphone-outline" slot="start"></ion-icon>
            Cadastro Imobiliária
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item routerLink="/cad-contrato-proprietario">
            <ion-icon name="briefcase-outline" slot="start"></ion-icon>
            Cadastro Contrato do Proprietário
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
