<ion-app>
  <ion-menu menuId="main-menu" content-id="main">
    <ion-header>
      <ion-toolbar>Menu</ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle>
          <ion-item routerLink="/cad-proprietario">
            <ion-icon name="briefcase-outline" slot="start"></ion-icon>
            <ion-label>Cadastro Proprietario</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item routerLink="/cad-imovel">
            <ion-icon name="bed-outline" slot="start"></ion-icon>
            <ion-label>Cadastro Imóvel</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item routerLink="/cad-locador">
            <ion-icon name="cash-outline" slot="start"></ion-icon>
            <ion-label>Cadastro Locador</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item routerLink="/cad-imobiliaria">
            <ion-icon name="megaphone-outline" slot="start"></ion-icon>
            <ion-label>Cadastro Imobiliária</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
